:root {
    --color1: #FE5CA6;
    --color2: #AF3C75;
    --color3: #FFFFFF;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--color1);
}

main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 500px;
    height: 500px;
    background-color: var(--color2);
}

.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px, solid, var(--color3);
}

.grid-item {
    color: var(--color3);
    border: 1px solid var(--color3);
}

span {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: var(--color1);
}